.guid-secundaria {
  background: black;

  .guid-1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px;

    .video-guid {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }

    h2 {
      position: relative;
      color: white;
      font-size: 3em;
    }

    p {
      position: relative;
      color: white;
      font-size: 1.2em;
    }
  }
}
