@mixin flexible($dis, $direction, $just, $align) {
  display: $dis;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

@mixin hero-image($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin hero-opacity($color) {
  background-color: $color;
}

@mixin grid-product($columnas, $espacio) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espacio;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}
